@import "vars";
@media screen and (max-width: 480px) {
  .visible-xs {
    display: block;
  }
  .hidden-xs {
    display: none !important;
  }
  html {
    font-size: 75%;
  }
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .top-panel {
    justify-content: space-around;
  }
  .logo {
    &__link {
      text-transform: uppercase;
      span {
        display: none;
      }
    }
  }
  .nav {
    flex-direction: column;
    align-items: baseline;
    //border-top: 1px solid $border-color;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease-out;
    //transition: max-height 0.5s ease-out;
    &__list, .search-form {

    }
    &__list{
      width: 100%;
      border-top: 1px solid $border-color;
      margin-bottom: 25px;
    }
    &__item {
      display: block;
      margin: 0;
    }
  }
  .search-form {
    margin: 0;
  }
  .banner-description {
    top: 15px;
    right: 4%;
  }
//  SLIDER
  .large-row{
    width: 100%;
  }
  .link-banner--lg .link-banner__descr {
    top: 5px;
    right: 25px;
  }

}
@media screen and (max-width: 600px) {

}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .search-form__input{
    display: none;
  }
  .search-form__button{
    position: static;
  }
  .container {

  }
  .nav{
    &__list{
      display: flex;
      justify-content: space-between;
      width: 95%;
    }
    &__item{
      margin-right: 0;
    }
    &__link{
      font-size: 11px;
    }
  }
  .footer {
    .row {
      justify-content: space-around;
    }
  }
  .footer-info {
    flex-direction: column;
    margin-bottom: 0;
    &__list {
      margin-right: 25px;
      margin-bottom: 25px;
    }
  }
}

@media only screen and (max-device-width: 1024px) {
  .hidden-sm {
    display: none;
  }

  .b-product {
    .row {
      justify-content: space-around;
    }
  }
  .product-item {
    flex: 0 2;
    &__img {
      height: 223px;
    }
  }
}